<% content_for :page_title do %>
Ruby on Rails 指南
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <dd class="kindle">Rails 指南同时提供 <%= link_to 'Kindle', 'https://github.com/ruby-china/rails-guides/releases' %> 、<%= link_to 'EPUB', 'https://github.com/ruby-china/rails-guides/releases' %> 和 <%= link_to 'PDF', 'https://github.com/ruby-china/rails-guides/releases' %> 版。</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
